* {

    font-family: "Open Sans",sans-serif;

    margin: 0;

    padding: 0%;

}

body {

    position: relative;

    margin: 0px;

    min-height: 100%;

    font-family:sans-serif;

    font-size: 1rem;

    font-weight: 400;

    line-height: 1.5;

    color:black;

    background-color: #fff;

}

.container {

    width: 100%;

    padding-right: 15px;

    padding-left: 15px;

    margin-right: auto;

    margin-left: auto;

    margin-top: 50px;

}

.block {

    background-color:whitesmoke ;

    box-shadow: 0 7px 8px 1px rgba(0,0,0,1.089216);

    padding: 50px 40px;

    border: 1px solid black;

    border-radius: 10px;

    margin:50px auto  50px;

    max-width: 320px;

    max-height: 490px;

    height: 390px;

}

.title h1 {

    color: #5200bb;

    text-align: left;

    font-weight: 600;

    line-height: 30px;

    border: none;

    padding: 8px 0 8px;

    font-size: 24px!important;

}

.LoginForm{

    margin: 60px;

}

.form-control {

    padding-left: 35px;

    height: 48px;

    border: 1px solid #e0e0e0;

}

.btn {

    background-color: #5200bb;

    border: 1px ;

    border-radius: 10px;

    width: 160px;

    height: 40px;

    margin: 18px 23px 18px;

    color: #fff;

    font-size: 16px;

    font-weight: 600;

    text-align: center!important;


}

